@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
.carousel-item {
    height: 100vh;
  }
.masthead {
    height: 110vh !important;
    font-family: 'Dancing Script', cursive !important;
    background-image: url("./sports-970443_1920.jpg") !important;
}
.rotate-45 {
  -webkit-transform:rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header.masthead ,.masthead-heading, .masthead-subheading {
  font-family: 'Dancing Script', cursive;
  color: white !important;
  z-index:2;
}
.bg-overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  z-index:0;
}
.image-width {
  width: 40vw;
}
@media (max-width: 972px) {
  .image-width {
    width: 94vw;
  }
  .padding {
    padding: 3rem !important;
  }
}
@media (max-width:650px) {
  .masthead {
    background-image: url("./marathon-mobile.jpg") !important;
  }
}
@media (min-height:600px) {
  .masthead{
    height: 100vh !important;
  }
}
.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {float:none;}

